

::-webkit-scrollbar {
  width: 8px;        /* width of vertical scrollbar */
  height: 8px;       /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* track color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;  /* thumb color */
  border-radius: 8px;
  border: 2px solid #f1f1f1; /* padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* hover effect */
}
